<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="logobox">
        <img class="logo" src="/assets/edcoLogo.svg">
        <p class="tagline">Equipment Developement Company, Inc.</p>
      </div>
  
      <div class="buttons">
        <button>
          About
        </button>
  
        <button>
          Products
        </button>
  
        <button>
          Customer Service
        </button>
  
        <button>
          Buy EDCO
        </button>
  
        <button>
          Training
        </button>
  
        <button>
          Application Solver
        </button>
  
        <button>
          Search
        </button>
  
        <button>
          Login
        </button>
  
        <button>
          Register
        </button>
      </div>
    </nav>
  </header>