.header {
    height: 500px;
}

.logo {
    height: 44px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.tagline {
    color: white;
    font-family: Inter,Open Sans,Arial,sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
}

.logobox{
    flex-direction: column;
background-color: lightblue;
}

.buttonStyle{
    text-decoration-color: white;
}