<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

<div class="row h-100 align-items-center mt-auto bg-dark ">
    <div class="col-4">
        <nav class='navbar navbar-expand-lg navbar-left my-auto' style="margin-left: 30px;">
            <a class=footerText>
                © 2022 by EDCO |
            </a>
            &nbsp;
            <a class="footerText" href="https://edcoinc.com/privacy-policy">
                 Privacy Policy
            </a>
            &nbsp;
            <a class=footerText>
               |
            </a>
            &nbsp;
            <a class="footerText" href="https://woodst.com/">
                Web Design
            </a>
            &nbsp;
            <a class=footerText style=>
                by Wood Street Inc.
            </a>
        </nav>
    </div>
    <div class="col-6" style="height: 75px;">

    </div>
    <div class="col-2">
        <nav class='navbar navbar-expand-lg navbar-right my-auto'>
            <a class="iconFont" href="https://edcoinc.com/privacy-policy">
                <span class="fa fa-facebook"></span>
            </a>
            <a class="iconFont">
                <span class="fa fa-twitter"></span>
            </a>
            <a class="iconFont" href="https://woodst.com/">
                <span class="fa fa-youtube"></span>
            </a>
            <a class=iconFont>
                <span class="fa fa-instagram"></span>
            </a>
            <a class=iconFont style="margin-right: 50px;">
                <span class="fa fa-linkedin"></span>
            </a>
        </nav>
    </div>
</div>