<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

<div class="d-flex flex-column">
    <div class="row h-100 align-items-center mt-auto bg-dark ">
        <div class="col-4">
            <nav class='navbar navbar-expand-lg navbar-left my-auto footerText footer' >

                © 2022 by EDCO |
                &nbsp;

                <a class="footerText" routerLink='privacy-policy'>
                    Privacy Policy
                </a>

                &nbsp;
                |
                &nbsp;

                <a class="footerText" href="https://woodst.com/">
                    Web Design
                </a>

                &nbsp;
                by Wood Street Inc.

            </nav>
        </div>
        <div class="col-6 spacer">

        </div>
        <div class="col-2 ">
            <nav class='navbar navbar-expand-lg navbar-right my-auto'>
                <a class="iconFont" href="https://www.facebook.com/EDCOUSA">
                    <span class="fa fa-facebook" alt="Facebook"></span>
                </a>
                <a class="iconFont" href="https://twitter.com/EDCOUSA">
                    <span class="fa fa-twitter" alt="Twitter"></span>
                </a>
                <a class="iconFont" href="https://www.youtube.com/channel/UC_8F1s2Y6qfvW8e9kX8S4XQ">
                    <span class="fa fa-youtube" alt="Youtube"></span>
                </a>
                <a class="iconFont" href="https://www.instagram.com/edcousa/">
                    <span class="fa fa-instagram" alt="Instagram"></span>
                </a>
                <a class="iconFont endcap" href="https://www.linkedin.com/company/edcousa">
                    <span class="fa fa-linkedin" alt="LinkedIn"></span>
                </a>
            </nav>
        </div>
    </div>
</div>