<div ngClass="container container-style">
    <edco-title-bar title_text="About Us"></edco-title-bar>
</div>
<div class="container text-container">
    <p class="header-text">
        Our History
    </p>

    <p class="body-text">
        In 1959, rental store employees Leo Swan and Ed Harding noted that their customers had reoccurring problems
        when
        resurfacing uneven concrete floors. At that time, the ways to level and smooth concrete surfaces were
        limited to
        one’s hands or crudely modified buffing machines. To help their customers, the budding entrepreneurs created
        the
        modern day concrete floor grinder. While this lone grinder was only intended to satisfy their current
        clientele,
        news of its existence spread, and wait times for the grinder swelled. Eventually, with this grinder as their
        cornerstone, Leo and Ed founded Equipment Development Company, or EDCO –a manufacturer of “Rental-Tough”
        products. Today, the Swan and Harding families own and operate EDCO, offering an array of products.
    </p>

    <p class="header-text">
        What We Believe
    </p>

    <p class="body-text">
        We believe in <strong><em>Training</em></strong>. We always provide the knowledge needed to be successful with EDCO products. We are
        trainers before sellers.
    </p>

    <p class="body-text">
        We believe in <strong><em>Quality & Safety</em></strong>. To ensure both we practice LEAN Manufacturing and create our products inside
        one
        modern facility in historic Frederick, Maryland, USA.
    </p>

    <p class="body-text">
        We believe in <strong><em>Technology</em></strong>. EDCO invests in both manufacturing and training technology. From Laser Fabricating
        to
        Powder Coating to CNC Machining, our facility contains the latest manufacturing equipment and software. From
        YouTube to Twitter to Webinars, and QRCs, we love web-based training technology.

    </p>
    <p class="body-text">
        We believe in <strong><em>American Manufacturing</em></strong>. We say EDCO products “Stayed In America”. While other manufacturers
        move
        over seas and back when convenient, we believe in the importance of staying home and working smarter. EDCO’s
        commitment to American manufacturing is unwavering.
    </p>
    <p class="header-text">
        What Keeps Us Up At Night
    </p>
    <p class="body-text">
        Everyone at EDCO understands we don’t exist without our customers. EDCO and EDCO Fabrication customers
        deserve
        safe, long-lasting products and our help making them successful. We make sure all questions are answered.
        Some
        companies just say they answer all inquiries, we actually do. Test us!
    </p>
    <p class="header-text">
        Who Do We Want To Be
    </p>
    <p class="body-text">
        We want to be our customers’ most trusted vendor. We want to be the leader. We strive to be ahead of the
        curve
        and create. We want to be proud.
    </p>

</div>