.product-name{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;

    padding-top: 10px;
    padding-bottom: 20px;
}

.image-style{
    width: 200px;
    height: 200 px;
}

.card-style{

    width: 18rem;
    background-color: transparent;

}