<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>

<div class="container-fluid bg-dark" style="height: 102px">
    <div class="row h-100">
        <div class="col-2">
            <a class='navbar-brand' style="margin-top: 5px; margin-left: -3px;">
                <img src='/assets/edcoLogo.svg' width='184px' height='44px' alt='EDCO Logo'>
                <p class='tagline'> Equipment Developement Company, Inc.</p>
            </a>
        </div>

        <div class="col-3">

        </div>

        <div class="col-7 align-self-center">
            <nav class='navbar navbar-expand-lg navbar-dark navbar-right my-auto'>
                <a class="navbar-brand menuItemText" href='https://edcoinc.com/about-us'>
                    About
                </a>

                <a class="navbar-brand menuItemText" href='https://edcoinc.com/products'>
                    Products
                </a>

                <a class="navbar-brand menuItemText" href='https://edcoinc.com/customer-support'>
                    Customer Support
                </a>

                <a class="navbar-brand menuItemText" href='https://edcoinc.com/where-to-buy'>
                    Buy EDCO
                </a>

                <a class="navbar-brand menuItemText" href='https://edcoinc.com/videos'>
                    Training
                </a>

                <a class="navbar-brand menuItemText" href='https://edcoinc.com/application-guide'>
                    Application Solver
                </a>

                <a class="navbar-brand menuItemText" href='https://edcoinc.com/keyword-search'>
                    <span class='glyphicon glyphicon-search'> </span>
                </a>

                <a class="navbar-brand menuItemText " href='https://edcoinc.com/login' style="font-size:14px">
                    <span class='glyphicon glyphicon-user'> </span>
                </a>

                <a class="navbar-brand menuItemText" href='https://edco.com/register' style="margin-right: 8px">
                    Register
                </a>
            </nav>
        </div>
    </div>
</div>