.header{
    height: 102px;
}

.logobox{
    margin-top: 5px;
    margin-left: -3px;
}

.tagline{
    color: lightgray;
    font-size: 10px;
    font-family: Inter,'Open Sans',Arial,sans-serif;
    line-height: 10px;
    font-weight: 600;
    margin: 8px 0 0 0;
}

.menuItemText{
    color: lightgray;
    font-family: Inter,'Open Sans',Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 -8px;
}

.endcap{
    margin-right: 8px;
}
