<edco-navbar>Loading Header...</edco-navbar>
<edco-carousel>Loading Slides...</edco-carousel>
<div class="container-fluid bg-dark">
    <div class="row item-align-center">

        <div class="col-3">
            <edco-bottomCard>Loading...</edco-bottomCard>
        </div>

        <div class="col-3 bottom-card-border">
            <edco-bottomCard>Loading...</edco-bottomCard>
        </div>

        <div class="col-3 bottom-card-border-right">
            <edco-bottomCard>Loading...</edco-bottomCard>
        </div>

        <div
            class="col-3">
            <edco-bottomCard>Loading...</edco-bottomCard>
        </div>
    </div>
</div>

<edco-footer>Loading Footer...</edco-footer>