<div id="carouselExampleControls" class="carousel slide carousel-style" data-bs-ride="carousel" data-bs-interval="6000">

  <div class="carousel-inner">

    <div class="carousel-item active">

      <div class="card text-center banner-card-style">

        <img src="assets/default/banner-bg.jpg" class="card-img banner">

        <div class="row h-100 align-items-center card-body card-img-overlay">
          <div class="col mx-auto">
            <p class="banner-title">About Us</p>

            <p class="banner-text">Learn about our history, what we believe in, and our values.</p>

            <a class="btn btn-lg btn-primary banner-btn" href="https://edcoinc.com/about-us">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">

      <div class="card text-center banner-card-style">

        <img src="assets/default/banner-bg.jpg" class="card-img banner">

        <div class="row h-100 align-items-center card-body card-img-overlay">
          <div class="col mx-auto">
            <p class="banner-title">We have a new website!</p>

            <p class="banner-text">
              Welcome To The New EDCOinc.com
              <br>
              Click the “Search By Application or Problem” tool, Customer Support section, and Training
              <br>
              Materials to find application answers
              <br>
              Visit “How Do I Buy EDCO Products?” to find your rental distributor or EDCOstore.com to buy
              <br>
              direct
            </p>

            <a class="btn btn-lg btn-primary banner-btn" href="https://edcoinc.com/application-guide">Search Now</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>