.bg-style{
    background-image: url("src/assets/main/background.jpg");
}

.bg-side{
    background-image: repeating-linear-gradient(315deg,var(--stripe-wide,#393939),
                                                        var(--stripe-wide,#393939) 2px,
                                                        var(--stripe-line,#2f2f2f) 3px,
                                                        var(--stripe-wide,#393939) 4px,
                                                        var(--stripe-wide,#393939) 5px);
}

.bg-col{
    padding-right: 30px;
}